<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <h3>followEachOther</h3>
        <ul>
            {% for user in followEachOther %}
                <li><a href="https://www.twitter.com/{{ user.screen_name }}"><img src="images/{{ user.profile_image }}"/> {{ user.screen_name }}</a></li>
            {% endfor %}
        </ul>

        <h3>followedOnly</h3>
        <ul>
            {% for user in followedOnly %}
                <li><a href="https://www.twitter.com/{{ user.screen_name }}"><img src="images/{{ user.profile_image }}"/> {{ user.screen_name }}</a></li>
            {% endfor %}
        </ul>

        <h3>followOnly</h3>
        <ul>
            {% for user in followOnly %}
                <li><a href="https://www.twitter.com/{{ user.screen_name }}"><img src="images/{{ user.profile_image }}"/> {{ user.screen_name }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>
