<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <h3>followEachOther</h3>
        <ul>
            {% for user in followEachOther %}
                <li>{{ user.screen_name }}</li>
            {% endfor %}
        </ul>

        <h3>followedOnly</h3>
        <ul>
            {% for user in followedOnly %}
                <li>{{ user.screen_name }}</li>
            {% endfor %}
        </ul>

        <h3>followOnly</h3>
        <ul>
            {% for user in followOnly %}
                <li>{{ user.screen_name }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
